*{
    font-family: Arial;
}
.bg-purple{
    background-color: #A294F9;
}

.navbar-white{
    color:#ffffffff;
}

.bg-purple2{
    background-color: #CDC1FF;
}

.bg-purple-light{
    background-color:#E5D9F2;
}

.bg-purple-about{
    background-color:#F5EFFF;
}

.spacing-footer{
    margin-top:50vh;
}
.spacing-footer2{
	margin-top:23vh;
}

.paragrafo3{
    text-align:justify;
    justify-content: inter-word;
}

.color-purple2{
 color: #CDC1FF;
}
